[user]
	name = Babak Farrokhi
	email = babak@farrokhi.net
	signingkey = 0x99E95EA4FCE567A8

[core]
	excludesfile = /Users/farrokhi/.gitignore_global
	pager = less -SFXR

[commit]
	gpgsign = true

[push]
	default = simple

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[pull]
	ff = only

[color]
	ui = true

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	l  = log --stat --graph --abbrev-commit

[pager]
	branch = false
